.mini-logo img {
  width: 90px;
}

nav {
  width: 100%;
  margin-right: 1rem;
  margin-top: 1rem;
}

.menu {
  z-index: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
}

.list {
  display: flex;
  align-items: center;
  height: 100px;
}

.mini-logo {
  z-index: 1;
}

.mini-logo:hover img {
  /* width: 4rem; */
  transition: 0.1s ease-in-out;
  transform: scale(1.1);
}

.presentation {
  font-size: 1.7rem;
  font-weight: 400;
  letter-spacing: 2px;
  position: absolute;
  bottom: 16%;
  font-family: "Montserrat", sans-serif;
  letter-spacing: 1.5px;
  font-size: 1.5rem;
  font-style: oblique;
  text-transform: initial;
}

section {
  height: 100vh;
}

.introduction {
  background-color: #fff6eb;
  z-index: -2;
}

.arrow {
  position: absolute;
  bottom: -2.5rem;
}

.iphones {
  display: flex;
  width: 100%;
  justify-content: space-around;
  height: 60vh;
  margin-top: 15rem;
}

.iphones img {
  width: 80%;
}

.iphones-image {
  z-index: -2;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  font-size: 4rem;
  text-transform: uppercase;
}

.line-dim2 {
  height: 0.4rem;
  width: 6rem;
  background: #333133;
}

.dim-intro {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.dim-description {
  font-family: "Montserrat", sans-serif;
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 3.2rem;
  text-align: center;
  margin-right: 20rem;
  margin-left: 20rem;
  margin-top: 4rem;
}

.the-project {
  height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
}