* {
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100%;
  color: #333133;
  background-color: #fff;
  display: flex;
  flex-direction: column;
}

h2,
button {
  font-family: "Oswald", sans-serif;
}

.noise {
  z-index: -1;
  background-image: url("noise.png");
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.06;
  background-size: 10%;
}

h2 {
  font-weight: bold;
  font-size: 60px;
}

a {
  color: inherit;
  text-decoration: none;
}

/* HEADER */
header {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  height: 3rem;
}

nav {
  width: 21.5%;
  margin-right: 3rem;
}

.menu {
  display: flex;
  justify-content: space-between;
}

.menu li {
  display: inline;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 1rem;
  text-transform: lowercase;
  letter-spacing: 3px;
}

.menu li:hover {
  font-weight: bold;
}

main {
  margin-top: -3rem;
}

section {
  height: 100vh;
}

/* INTRODUCTION */
.introduction {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  position: relative;
}

.logo {
  z-index: -2;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 10rem;
}

.logo img {
  width: 90%;
}

.presentation {
  font-size: 1.7rem;
  font-weight: normal;
  text-transform: uppercase;
  letter-spacing: 2px;
  position: absolute;
  bottom: 16%;
  font-family: "Montserrat", sans-serif;
  text-transform: lowercase;
  letter-spacing: 1.5px;
  font-size: 1.5rem;
  font-style: oblique;
}

.arrow {
  position: absolute;
  bottom: 5%;
}

.arrow img {
  width: 45%;
}

.description {
  font-family: "Montserrat", sans-serif;
  font-size: 22px;
  font-weight: 500;
  line-height: 2.2rem;
}

button {
  text-transform: uppercase;
  font-size: 24px;
  background-color: #a7ddcb;
  color: #333133;
  letter-spacing: 2px;
  font-weight: 600;
}

.see-more {
  padding: 12px 68px;
  margin-top: 2rem;
  border: none;
}

.project {
  display: flex;
  flex-direction: row;
}

.project-section {
  width: 50%;
  height: 500px;
  margin-right: 6rem;
  margin-left: 6rem;
}
