* {
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100%;
  color: #333133;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  position: relative;
  margin-top: 0;
}

h2,
.see-more {
  font-family: "Oswald";
}

.noise {
  z-index: -1;
  background-image: url("noise.png");
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-size: 10%;
  background-blend-mode: soft-light;
  opacity: 0.06;
}

h2 {
  font-weight: 700px;
  font-size: 60px;
  letter-spacing: 4px;
  margin: 0%;
}

a {
  color: inherit;
  text-decoration: none;
}

/* HEADER */
header {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  height: 3rem;
}

nav {
  width: 21.5%;
  margin-right: 3rem;
  margin-top: 1rem;
  min-width: 20%;
}

.menu {
  z-index: 1;
  display: flex;
  justify-content: space-between;
}

.menu li {
  z-index: 1;
  display: inline;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 1rem;
  text-transform: lowercase;
  letter-spacing: 2px;
}

a:hover,
a:active {
  font-weight: bold;
}

main {
  margin-top: -3rem;
}

section {
  height: 100vh;
}

/* INTRODUCTION */
.introduction {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  position: relative;
  margin-bottom: 12%;
}

.logo {
  z-index: -2;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 10rem;
}

.logo img {
  width: 90%;
}

.presentation {
  font-size: 1.7rem;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 2px;
  position: absolute;
  bottom: 16%;
  font-family: "Montserrat", sans-serif;
  text-transform: lowercase;
  letter-spacing: 1.5px;
  font-size: 1.5rem;
  font-style: oblique;
}

.arrow {
  position: absolute;
  bottom: 5%;
}

.arrow img {
  width: 45%;
}

.description {
  font-family: "Montserrat", sans-serif;
  font-size: 22px;
  font-weight: 400;
  line-height: 2.2rem;
}

.see-more {
  display: flex;
  text-transform: uppercase;
  font-size: 24px;
  background-color: #fae793;
  color: #333133;
  letter-spacing: 2px;
  font-weight: 600;
  border-radius: 4px;
  padding: 12px 68px;
  border: none;
  position: absolute;
}

.see-more:hover {
  transition-duration: 0.2s;
  background-color: #a7ddcb;
  color: #ffe781;
  cursor: pointer;
}

.project,
.about {
  display: flex;
  flex-direction: row;
  margin-right: 3rem;
  margin-left: 3rem;
  position: relative;
}

.project-section {
  width: 50%;
  height: 50%;
  margin-right: 6rem;
  margin-left: 6rem;
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.project-section img {
  width: 100%;
  margin-top: 2%;
}

.project-title {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: baseline;
  margin-left: 6%;
  margin-right: 6%;
  height: 12%;
  position: relative;
}

.project-image {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.project-image img {
  width: 55%;
}

.back-project,
.back-project-ooblets {
  z-index: -3;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding-right: 2rem;
  padding-left: 2rem;
}

.back-project img,
.back-project-ooblets {
  width: 100%;
}

.back-project-ooblets {
  margin-top: 6rem;
}

.project-music {
  display: flex;
  flex-direction: row;
}

.about {
  margin-top: 6rem;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.hi {
  display: flex;
  position: absolute;
  z-index: 2;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 124px;
}
.about-text {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 2.5rem;
  color: #333133;
  text-indent: 13rem;
  margin-left: 3rem;
  margin-right: -1rem;
}

.about-section {
  width: 50%;
  height: 50%;
  margin-right: 3rem;
  margin-left: 3rem;
  margin-bottom: 3rem;
  display: flex;
  align-items: center;
}

.about-section img {
  width: 100%;
  margin-top: 2%;
  margin-left: -1rem;
}

.bg-about {
  z-index: -4;
  position: absolute;
}
.bg-about img {
  margin-left: -2rem;
}
